* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #000;
  color: #FFF;
  height: 100vh;
}

canvas {
  display: block;
}

.options {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: space-around;
  padding: 20px;
}

input {
  padding: 10px;
}

.logs {
  padding: 5px;
  max-width: 30vw;
}

.log {
  padding: 2px 5px;
}

.log:last-child,
.log:hover {
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  background-color: #151515;
}

.log .index {
  padding: 5px;
  color: chocolate;
}

.log .event,
.log .sign {
  color: #444;
}

.log .name {

}

.log .value {
  color: darkgrey;
}